* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-page {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
.body-page img {
    filter:invert();
}
.body-page input {
    width: 250px;
    height: 25px;
    border-radius: 3px;
    padding-left: 3px;
}
#autenticar {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
}
#dados-usuario {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#dados-usuario button {
    width: 150px;
    height: 30px;
    border-radius: 3px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
}